.form {
	margin: 20px 50px 10px 50px;
	width: 50%;
}
.combutton {
	margin-top: 10px;
}

.comments {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	background-color: #f6f6ef;
}
.boxes {
	margin-bottom: 10px;
}
.textbox {
	height: 80px;
	width: 40%;
	margin-bottom: 10px;
}
